* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#container>h1 {
    text-align: center;
    margin: 20px;
}

#container>#header {
    /* border: 2px solid red; */
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

#container>h2 {
    text-align: center;
    margin: 20px;
    font-size: 25px;
}

#container>#footer {
    /* border: 2px dotted chocolate; */
    width: 80%;
    margin: auto;
    display: grid;
    gap: 15px;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr);
}

#container>#footer>div {
    /* border: 2px solid black; */
    border-radius: 8px;
    margin: auto;
    width: 90%;
    padding: 5px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

img {
    width: 100%;
    border-radius: 10px;
}

#container>#footer>div>img ~ img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#container>#footer>div h3,
p,
img {
    text-align: center;
}

/* #container > #footer > div:nth-child(1){
    width: 100%;
}
#container > #footer > div:nth-child(4){
    width: 10px;
    background-color: black;
} */