#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


#container{
  border: 1px solid black;
  width: 100%;
  padding: 10px;
}

form{
  display: flex;
  justify-content: center;
  gap: 10px;
}
table{
  width: 100%;
  text-align: center;
}
table td > button{
  width: 100%;
  height: 100%;
}