#parent {
  border: 1px solid black;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 100px;
}
.child {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 10px 25px;
}
.child:nth-child(1) {
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.child:nth-child(2) {
  background-color: red;
}
.child:nth-child(3) {
  background-color: yellow;
}
.child:nth-child(4) {
  background-color: green;
}
.child:nth-child(5) {
  background-color: purple;
}
