#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button{
  border: none;
  box-shadow: inset 0 0 0 1px rgb(134, 129, 129);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.activeButton {
  background-color: rgb(138, 220, 240);
  border: 1px solid black;
}
#table{
  border: 1px solid black;
}

table{
  width: 100%;
}