#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

#container{
  width: 60%;
  margin: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#container > div{
  border: 1px solid black;
}